body {
    font-family: 'Raleway', sans-serif;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 35px;
}

.logo {
    display: flex;
    align-self: flex-end;
    width: 30%;
}
 
.navigation a {
    padding-top: 25px;
    padding-right: 15px;
    text-decoration: none;
    color: black;
}

.accomodations {
    margin-left: auto;
}

.navigation a:hover {
    border-top: 2px solid #0065FC;
    color:#0065FC;
}

h2 {
    font-size: 20px;
}

.container {
    display: flex;
}

.container > div {
    padding-right: 7px;
    margin-right: 5px;
    border: 3px solid #f2f2f2;
    border-radius: 25px;
}

.item {
    font-weight: bold;
}

i {
    color:#0065FC;
    background-color: #DEEBFF;
    padding: 10px;
    border-radius: 50%;
}

.filter {
    display: inline-block;
}

#accomadations {
    display: flex;
    flex-direction: row;
}

#marseille {
    background-color: #F2F2F2;
    border-radius: 5px;
}

#popular {
    background-color: #F2F2F2;
    border-radius: 5px;
}

.accomodations > div {
    display: flex;
}