body {
    font-family: 'Raleway', sans-serif;
}

.navigation {
    float: right;
}

.navigation li {
    display: inline;
    margin:0 10px;
}

.navigation li a {
    text-decoration: none;
    padding: 20px;
}

.navigation li a:hover {
    border-top: 2px solid #0065FC;
} 

form {
    display: inline-block;
}

h2 {
    font-size: 20px;
}