body {
    font-family: 'Raleway', sans-serif;
}

.navigation {
    float: right;
}

.navigation li {
    display: inline;
    margin:0 10px;
}

.navigation li a {
    text-decoration: none;
}

#filter {
    display: inline-block;
}

h2 {
    font-size: 20px;
}